<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zwitter</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-800">
        <div class = "flex flex-col items-center w-screen">
            <h1 class = "text-6xl font-bold self-center text-white pt-4 mt-2 mb-4">Zwitter ! </h1>
            <div class="absolute top-4 right-4">
                <a class="text-blue-600 text-lg hover:underline" href="/profile"><%= user.username %></a>
            </div>
        </div>
        <div class = "flex flex-col items-center text-gray-200">
            <form class = "flex items-center" action="/createPost" method="post">
                <textarea maxlength="120" class = "px-3 py-2 border-gray-600  resize-none w-[400px] rounded-lg border-1 outline-none" type="text" placeholder="Express your thoughts" name="content"></textarea>
                <button class = "bg-blue-600 text-white ml-2 px-3 py-2 w-30 rounded-md hover:cursor-pointer hover:bg-blue-700" type="submit">Create Post</button>
            </form>
        </div>
        <div class="flex flex-wrap flex-col gap-2 p-4">
            <% posts.forEach(post => {  %>
                <div class="bg-gray-800 w-1/2  rounded-md px-3 text-gray-200 flex flex-col justify-center border-1 border-solid border-gray-500">
                <h4 class="text-blue-600 mt-2 self-start">@<%=post.user.username%></h4>
                <p class="mt-3 mb-3 text-left"><%=post.content%></p>
                <div class = "flex flex-row w-full gap-4 mb-2 mt-2">
                    <a class = "text-blue-600 self-start hover:text-blue-900 text-sm" href="/like/<%=post._id%>">
                        <%= post.likes.indexOf(user._id) === -1 ? "Like" : "Unlike" %>
                    </a>
                    <small class ="inline-block text-sm text-gray-400"><%= post.likes.length %><%= post.likes.length === 1 ? " like" : " likes" %></small>
                </div>
            </div>
          <%  }); %>
            
        </div>
</body>
</html>